section article {
  text-align: center;
}

#cabecera {
  display: flex;
  flex-direction: row;
  height: 210px;
}

#logo {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 50%;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
}

.Caja2 {
  width: 100%;
  height: auto;
  /* background: transparent; */
  display: flex;
  margin: 0px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 200px;
  /*   text-align: center; */
  padding: auto;
}

.social {
  color: rgba(192, 55, 55, 1);
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  margin-top: 80px;
  margin-left: 200px;
  align-content: space-around;
}

.Caja3 {
  width: 1245px;
  height: 50px;
  background: black;
  color: rgba(192, 55, 55, 1);
  flex-direction: column;
  display: flex;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

.button {
  border-radius: 10px;
  background: rgba(192, 55, 55, 0.5);
  color: rgba(121, 56, 56, 1);
  flex-direction: column;
  line-height: 30px;
  height: 80px;
  width: 300px;
  margin: 50px;
  font-size: 20px;
  font-family: roboto;
  text-align: center;
  display: flex;
  list-style: none;
}

.box input {
  position: relative;
  width: 90px;
  height: 50px;
}

.box {
  border-radius: 20px;
  background: rgba(192, 55, 55, 0.5);
  height: 200px;
  width: 200px;
  margin: 20px;
  font-size: 25px;
  display: table-row;
  font-family: roboto;
  color: rgba(192, 55, 55, 1);
  display: inline-table;
  text-align: center;
}

.box img {
  height: 150px;
  width: 200px;
  margin: 10px;
}

.column {
  padding: 5px;
}

.column img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}

.button a:hover {
  color: rgba(192, 55, 55, 1);
  font-family: roboto;
  transform: scale(1.2);
  text-decoration: none;
}

.contenidoFooter {
  background: linear-gradient(
    to top,
    rgba(192, 55, 55, 0.3),
    rgba(192, 55, 55, 0.6)
  );

  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.linksUl {
  font-family: roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  list-style: none;
}
.linksUl li a {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
  text-decoration: none;
}

.linksUl li a:link {
  text-decoration: none;
}

.linksUl li a:hover {
  color: rgba(192, 55, 55, 1);
  font-family: roboto;
  transform: scale(1.2);
  text-decoration: none;
}
.linksUl li a:visited {
  color: rgba(192, 55, 55, 1);
  font-family: roboto;
  text-decoration: none;
  color: rgba(192, 55, 55, 1);
}

.divNavegacion .linksUl li a:hover {
  color: rgba(192, 55, 55, 1);
}

.contenidoFooter div {
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.copyright p {
  text-align: center;
  font-size: 20px;
  color: rgba(192, 55, 55, 1);
}
